{% extends 'index.html' %}

{% load static %}

{% block title %}{{nome}}{% endblock %}

{% block content %}

<section class="container_detalhes">
<div class="grid_produto_detalhe">
    <div class="foto_detalhe"><img src="{{i.imagem}}"></div>
    <div class="descricao_detalhe">
        <p>Detalhes: <br><br> {{i.descricao}}</p>
    </div>
    <div class="cart_detalhe">
        <p class="nome_detalhe">{{i.nome}}</p><br>
        <p id="preco_detalhe">R${{i.preco}}</p>
        <button><p class="add_cart">Adicionar ao carrinho</p></button>
    </div>
</div>
</section>

<!-- RECOMENDADOS -->

<p id="detalhes_recomendados">Itens que você talvez goste</p>

<section class="recomendados">
    {% for j in dados %}
    <div class="grid_recomendados">
        <div class="foto_recomendados"><img src="{{j.imagem}}" alt="Foto de {{j.nome}}"></div>
        <div class="nome_recomendados"><a href="{% url 'detalhes_produto' pk=j.id %}">{{j.nome}}</a></div>
        <div class="preco_recomendados">R${{j.preco}}</div>
    </div> 
    {% endfor %}
</section>

{% endblock %}