{% extends 'index.html' %}

{% block title %}{{titulo}}{% endblock %}

{% block content %}

<!-- BLOCO DISPLAY DE ITENS/CATALOGO -->

<section class="catalogo">
    {% for i in dados %}
        <div class="grid_produto">
            <div class="foto_produto"><img src="{{i.imagem}}" alt="Foto de {{i.nome}}"></div>
            <div class="nome_produto"><a href="{% url 'produtos:detalhes_produto' pk=i.id %}">{{i.nome}}</a></div>
            <div class="preco_produto">R${{i.preco}}</div>
        </div>           
    {% endfor %}
</section>

{% endblock %}
