{% load crispy_forms_tags %}
{% load static %}

{% block title%}{% endblock %}

{% block content %}

    <div class="seta">
        <a class="seta" href="/"><img src="{% static 'img/seta.png' %}"></a>
    </div>

    <link rel="stylesheet" href="{% static 'css/style-adress.css' %}">
    <link href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/cep.js' %}"></script>

    <div class="container-fluid ps-md-0">
        <div class="row g-0">
          <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
          <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
              <div class="container">
                <div class="row">
                  <div class="col-md-9 col-lg-8 mx-auto">
                    <h3 class="login-heading mb-4">Cadastre um endereço</h3>
                    <form method="POST">
                      <div class="form-floating mb-3">
                        {% csrf_token %}
                        {{form|crispy}}
                      </div>
      
                      <button type="submit" >Adicionar</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


{% endblock %}