{% extends 'pedidos/index-pedidos.html' %}

{% load static %}

{% block title %}Meu perfil{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/style-perfil.css' %}">
    
<section class="perfil-container">

    <h1 class="titulo">Meu Perfil</h1><br>
    <div class="dados">


        <!-- Meus dados -->

        <section class="meus-dados">

            <h3>Meus dados: </h3><br>
            
            <p>Nome de usuário: {{request.user.nome_usuario}}</p>
            <p>Email: {{request.user.email}}</p>

            <h4 class="sub-titulo1">Vincular contas: </h4>
            <div class="facebook">
                <p>Vincular sua conta com <a href="#">Facebook</a></p>
            </div>
            <div class="twitter">
                <p>Vincular sua conta com <a href="#">Twitter</a></p>
            </div>
            <div class="email">
                <p>Vincular sua conta com <a href="#">Email</a></p>
            </div>

        </section>

        <!-- Meus endereços -->

        {% if more_than_one %}

        <section class="meus-enderecos">

        {% else %}

        <section class="meus-enderecos2">

        {% endif %}

            <h3>Meus endereços: </h3><br>
            <div class="novo-endereco">

                {% if enderecos %}

                {% for endereco in enderecos %}

                <div class="endereco">

                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td class="dados">
                            <table>
                            <tr>
                                <td align="left"><b>Nome do Endereço:</b></td>
                                <br><td>{{endereco.nome}}</td>
                            </tr>
                            <tr>
                            <tr>
                                <td align="left"><b>Destinatario:</b></td>
                                <td>{{endereco.usuario}}</td>
                            </tr>
                            <tr>
                                <td align="left"><b>Endereço:</b></td>
                                <td>{{endereco.rua}}, {{endereco.numero}}</td>
                            </tr>
                            <tr>
                                <td align="left"><b>Bairro:</b></td>
                                <td>{{endereco.bairro}}</td>
                            </tr>
                            <tr>
                                <td align="left"><b>CEP:</b></td>
                                <td>{{endereco.cep}}</td>
                            </tr>
                            <tr>
                                <td align="left"><b>Cidade:</b></td>
                                <td>{{endereco.cidade}} - {{endereco.estado}} - {{endereco.pais}}</td>
                            </tr>
                            <tr>
                                <td align="left"><b>Referência: </b></td>
                                <td>{{endereco.referencia}}</td>
                            </tr>
                            </table>
                        </td>
                    </tr>
                    </table>
                    
                    <a href="{% url 'users:remover_endereco' pk=endereco.id %}?next=/users/perfil/" class="endereco-btn">Excluir</a>

                </div><!--/meus-enderecos-->
                <br>  

                {% endfor %}

                {% else %}

                    <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
                    
                        <tr>
                            <td align="center"><b>Você não tem nenhum endereço cadastrado.</b></td>
                        </tr>
                        
                    </table>

                        <div>
                            <a href="{% url 'users:cadastrar_endereco' %}?next=/users/perfil/"><button class="btn-endereco">Cadastre Um</button></a>
                        </div>

                {% endif %}
            </div><!--/novo-endereco-->

        </section>

    </div>    

    <section class="meus-pedidos">

        <h3>Meus pedidos</h3><br>
        
        {% for pedido in pedidos %}

        <div class="pedido">
            <p class="nome-pedido">Usuário: {{pedido.usuario}}</p>
            <p class="valor-pedido">Valor: R${{pedido.valor}}</p>
            <p class="endereco-pedido">Endereço: {{pedido.endereco}}</p>
            <p class="status">Para verificar o status do pedido clique <a class="a-status" href="{% url 'pedidos:confirmacao' %}">aqui</a></p>
        </div>

        {% endfor %}

    </section>

</section>
    
{% endblock %}