{% extends 'index.html' %}

{% block title %}Swift Root{% endblock %}

{% block content %}  


<article id="carrossel-container" class="c-carousel c-carousel--responsive">
    <div class="c-carousel__slides js-carousel--responsive">
        {% for categoria in categorias %}

        <article class="cards">
            <p>{{categoria.nome}}</p>
            <img src="{{categoria.imagem.url}}" height="300" alt="Foto de {{categoria.nome}}">
            <p>{{categoria.nome}}</p>
        </article>

        {% endfor %}
    </div>

    <button class="js-carousel--responsive-prev" aria-label="Anterior">«</button>
    <button class="js-carousel--responsive-next" aria-label="Próximo">»</button>
    <div class="js-carousel--responsive-dots" role="tablist"></div>
</article>
    
{% endblock %}