{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Swift Root{% endblock %}</title>
    <link href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/glider.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/style-home.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/style-nav.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/style-adress.css' %}">
    <link rel="stylesheet" href="{% static 'css/style-footer.css' %}">
</head>
<body>

    <header>

    <!-- BARRA DE NAVEGAÇÃO -->

    <div class="wrapper">
        
      {% include 'snippets/nav-bar.html' %}

      </div>

    </header>  

    <!-- BLOCO DE CONTEÚDO -->

    <main>    

        {% block content %}

        {% endblock %}

    </main>

    <!-- FOOTER -->

    <footer>

        <div class="footer-content">

        {% include 'snippets/footer.html' %}

        </div>

    </footer>

    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/glider.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/nav-bar.js' %}"></script>
    <script src="{% static 'js/cep.js' %}"></script>
    <script src="{% static 'js/carrossel.js' %}"></script>
    <script src="{% static 'js/ajax.js' %}"></script>
</body>
</html>