{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="{% static 'js/cep.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/style-nav.css' %}"> 
</head>
<body>

    <header>

    <!-- BARRA DE NAVEGAÇÃO -->

    <div class="wrapper">
        
      {% include 'nav-bar.html' %}

      </div>

    </header>  

    <main>

    <!-- BLOCO DE CONTEÚDO -->

    {% block content %}

    {% endblock %}

    </main>

    <!-- <footer>

    RODAPÉ

    <p>Contate-nos</p>
    
    <ul class="footerBar">
        <li><img class="footerIcon" src="{% static 'img/instagram.png' %}"><a href="#">NOSSO INSTAGRAM</a></li>
        <li><img class="footerIcon" src="{% static 'img/facebook.png' %}"><a href="#">NOSSO FACEBOOK</a></li>
        <li><img class="footerIcon" src="{% static 'img/tiktok.png' %}"><a href="#">NOSSO TIKTOK</a></li>
        <li><img class="footerIcon" src="{% static 'img/gmail.png' %}"><a href="#">NOSSO EMAIL</a></li>
    </ul>

    </footer> -->
</body>
</html>