{% extends 'pedidos/index-pedidos.html' %}

{% load static %}

{% block title %}Carrinho{% endblock %}

{% block content %}

<link href="{% static 'css/checkout.css' %}" rel="stylesheet" type="text/css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/ajax-carrinho.js' %}"></script>

<section id="carrinho">
    <div class="wrapper">
    
        <div class="checkout">

            <div class="titulo">
                <span class="fa fa-shopping-cart"></span>
                <h1>Meu Carrinho</h1>
            </div>
            
            {% if no_match%}

            <div class="carrinho">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="55%" class="header">Produto(s) no Meu Carrinho</td>
                  <td width="15%" class="header">Quantidade</td>
                  <td width="15%" class="header">Valor Unitário</td>
                  <td width="15%" class="header">Valor Total</td>
                </tr>
                <tr >
                  <td class="dados"> 
                      <div id="" class="carrinho-descricao-produto">
                         <a><strong><p>Seu carrinho está vazio...</p></strong></a>
                      </div><!--/carrinho-descricao-produto-->
                  </td>
                  <td class="dados" align="center">
                      <div class="quantidade">
                      </div><!--/quantidade-->
                      <div class="bt-excluir">
                      </div><!--/excluir-->
                  </td>
                  <td class="dados unit" align="center" name="valor unitário"></td>
                  <td class="dados mult" align="center" name="valor total"></td>
                </tr>
                <tr>
                    <td colspan="3" class="frete"> 
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="7%" align="center"><span class="fa fa-truck"></span></td>
                          <td width="30%" align="left">Consulte o frete para seu CEP</td>
                          <td width="1%" align="left"><input name="" id="cep" type="number" min="1000000" max="99999999" value="01000000" class="p" ></td>
                          <td width="1%"><div class="bt-ok"><a href="#">OK</a></div></td>
                          <td width="10%" align="right">FRETE</td>
                        </tr>
                      </table>
                  </td>
                  <td class="dados frete-result" align="center"></td>
                </tr>
                <tr id="total">
                  <td colspan="3" align="right" class="subtotal">TOTAL</td>
                  <td class="dados total-carrinho" align="center">{{total}}</td>
                </tr>
               </table>
          
          </div><!--/carrinho-->

            {% else %}
            
            <div class="carrinho">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="50%" class="header">Produto(s)</td>
                    <td width="15%" class="header">Quantidade</td>
                    <td width="20%" class="header">Valor Unidade</td>
                    <td width="15%" class="header">Valor Total</td>
                  </tr>

                  {% for produto in dados %}

                  <tr >
                    <td class="dados">
                        <div class="carrinho-imagem-produto">
                            <!-- <img src="{{produto.imagem.url}}" max-width="210" max-height="210"> -->
                        </div><!--/carrinho-imagem-produto-->
                        
                        <div id="{{produto.id}}" class="carrinho-descricao-produto">
                           <a><strong>{{produto.nome}}</strong></a>
                        </div><!--/carrinho-descricao-produto-->
                    </td>
                    <td class="dados" align="center">
                        <div class="quantidade">
                            <input value="1" type="number" class="pp" max="50" min="1">
                            <!--/controle-de-unidades-->
                        </div><!--/quantidade-->
                        <div class="bt-excluir">
                            <button class="ajax-class" value="{% url 'carrinho:remover' pk=produto.id %}"><i class="far fa-trash-alt"></i></button>
                        </div><!--/excluir-->
                    </td>
                    <td class="dados unit" align="center" name="valor unitário">{{produto.preco}}</td>
                    <td class="dados mult" align="center" name="valor total">{{produto.preco}}</td>
                  </tr>
                  
                  {% endfor %}

                  <tr>
                      <td colspan="3" class="frete"> 
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="7%" align="center"> 
                              <!-- <span class="fa fa-truck"></span> -->
                              <span></span>
                            </td>
                            <td width="30%" align="left">Consulte o frete</td>
                            <td width="1%" align="left"><input name="" id="cep" type="number" min="1000000" max="99999999" value="01000000" class="p" ></td>
                            <td width="1%"><div class="bt-ok"><a href="#">OK</a></div></td>
                            <td width="10%" align="right">FRETE</td>
                          </tr>
                        </table>
                    </td>
                    <td class="dados frete-result" align="center"></td>
                  </tr>
                  <tr id="total">
                    <td colspan="3" align="right" class="subtotal">TOTAL</td>
                    <td class="dados total-carrinho" align="center">{{total}}</td>
                  </tr>
                 </table>
            
            </div><!--/carrinho-->

            {% endif %}
            
            <div class="bt-continuar-comprando"><a href="{% url 'produtos:lancamentos' %}"> < continuar comprando</a></div>
            <div class="bt-concluir-compra"><a href="{% url 'pedidos:identificacao' %}">concluir compra > </a></div>
    
        </div><!--/checkout-->       
     </div><!--/wrapper-->
</section>

{% endblock %}