{% extends 'index.html' %}

{% load widget_tweaks %}
{% load static %}

{% block title %}Meu Carrinho{% endblock title %}

{% block content %}

<div class="container my-3 table-responsive">
    <h1 class="font-weight-bold">Meu Carrinho</h1>
    {% if carrinho %}
    <table class="table">
        <thead>
            <tr class="bg-light">
                <th scope="col">Produto</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Preço Unitário</th>
                <th scope="col">Preço Total</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for item in carrinho %}
            {% with produto=item.produto %}
            <tr>
                <td class="align-middle">
                    <a target="_blank" class="text-decoration-none" href="{{ produto.get_absolute_url }}">
                        {{ produto.nome }}
                    </a>
                </td>
                <td class="align-middle">
                    <form action="{% url 'carrinho:add' produto.id %}" method="post">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col">
                                {% render_field item.update_quantity_form.quantity class+="form-control" %}
                            </div>
                            <div class="col">
                                <input class="btn btn-info" type="submit" value="Atualizar">
                            </div>
                        </div>
                        {{ item.update_quantidade_form.override }}
                    </form>
                </td>
                <td class="align-middle">R$ {{ item.preco }}</td>
                <td class="align-middle">R$ {{ item.total_preco }}</td>
                <td class="align-middle text-right">
                    <form action="{% url 'carrinho:remove' produto.id %}" method="post">
                        {% csrf_token %}
                        <input class="btn btn-danger" type="submit" value="Remover">
                    </form>
                </td>
            </tr>
            {% endwith %}
            {% endfor %}
            <tr class="bg-light">
                <td class="font-weight-bold">Total</td>
                <td></td>
                <td></td>
                <td class="font-weight-bold">R$ {{ carrinho.get_total_price }}</td>
                <td></td>
            </tr>
        </tbody>
    </table>
    {% else %}
    <p>O carrinho está vazio!</p>
    {% endif %}
    <p class="text-right">
        <a class=" btn btn-primary" href="#">
            Continuar comprando
        </a>

        <a class="btn btn-success {% if not cart %}disabled{% endif %}" href="#">
            Finalizar compra
        </a>
    </p>
</div>

{% endblock content %}