@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

:root {
  --font: "Ubuntu", sans-serif;
  --preto: #1a1a1a;
}

* {
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

a:hover {
  opacity: 0.7;
}

body {
  background-color: #FFFFFF;
  height: 100vh;
  width: 100vw;
}

/* ---------------------------- PRODUTOS ---------------------------- */

.catalogo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-family: var(--font);
}

.grid_produto {
  background: #FFFFFF;
  /* box-shadow:  3px 3px 3px 3px #FFFFFF; */
  display: grid;
  place-items: center;
  height: 55vh;
  width: 25vw;
  padding: 20px;
  margin: 5px;
  grid-template-areas:
    "foto" "foto" "foto" "foto"
    "nome" "nome" "nome" "nome"
    "preco" "preco" "preco" "preco";
  border: 1px solid rgb(218, 218, 218);
  border-radius: 5px;
}

.foto_produto img {
  max-width: 210px;
  max-height: 210px;
  border-radius: 5px;
  grid-area: foto;
}

.nome_produto a {
  margin: 0 auto;
  font-size: 20px;
  text-decoration: none;
  color: black;
  grid-area: nome;
  position: relative;
}

.preco_produto {
  font-size: 20px;
  grid-area: preco;
  position: relative;
  text-align: left;
}

/* ---------------------------- PRODUTOS DETALHES ---------------------------- */

.container_detalhes {
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font);
}

.grid_produto_detalhe {
  display: grid;
  place-items: center;
  margin-top: 20px;
  height: 100%;
  grid-template-areas: "foto desc info";
}

.foto_detalhe {
  width: 20vw;
  height: 250px;
  grid-area: foto;
}

.foto_detalhe img {
  padding: 30px;
  max-width: 210px;
  max-width: 210px;
  max-height: 210px;
}

.descricao_detalhe {
  width: 40vw;
  height: 100%;
  grid-area: desc;
  place-items: center;
  padding: 10px;
}

.descricao_detalhe p {
  padding: 3px;
  font-size: 20;
}

.descricao_detalhe #preco_detalhe {
  align-items: center;
  justify-content: center;
  place-items: center;
  padding: 20px;
  font-size: 20px;
}

.cart_detalhe {
  width: 15vw;
  height: 100%;
  border: 2px solid rgb(218, 218, 218);
  padding: 5px;
  border-radius: 10px;
  grid-area: info;
  text-align: center;
}

.cart_detalhe #preco_detalhe {
  font-size: 25px;
}

.cart_detalhe button {
  background: #ffe600;
  border-color: #ffe600;
  text-shadow: none;
  border-radius: 20px;
  width: 10vw;
  height: 50px;
  margin-left: 5%;
  margin-top: 95%;
  text-transform: uppercase;
}

.cart_detalhe button:hover {
  background: #b8a606;
  border-color: #b8a606;
  text-shadow: none;
  border-radius: 20px;
  width: 10vw;
  height: 50px;
  margin-left: 5%;
  margin-top: 95%;
  text-transform: uppercase;
}

#images{
  position: relative;
  height: 100px;
}

#carrinho-img{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100px;
  width: 100px;
  animation: carrinho 3000ms cubic-bezier(0.215, 0.610, 0.355, 1);
  animation-direction: alternate;
  animation-iteration-count: 2;
  opacity: 0;
}

#ok-img{
  position: absolute;
  top: 0;
  left: 35px;
  bottom: 0;
  right: 0;
  height: 50px;
  width: 50px;
  opacity: 0;
  animation: okay 500ms;
  animation-delay: 2500ms;
  animation-direction: alternate;
  animation-iteration-count: 2;
}

@keyframes carrinho{
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  100% {
    transform: translateX(46vw);
    opacity: 1;
  }
}

@keyframes okay{
  0%{
    transform: translateX(46vw);
  }
  100%{
    transform: translateX(46vw);
    opacity: 1;
  }
}

/* ---------------------------- RECOMENDADOS ---------------------------- */

#detalhes_recomendados {
  margin: 0 auto;
  width: 85%;
  border-radius: 5px;
  height: 5vh;
  margin-top: 5vh;
  background-color: #1a1a1a;
  color: #fff;
  padding: 1vh;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

.recomendados {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font);
}

.grid_recomendados {
  display: grid;
  place-items: center;
  width: 25vw;
  height: 80vh;
  padding: 10px;
  margin: 5px;
  grid-template-areas:
    "foto" "foto" "foto"
    "nome" "nome" "nome"
    "preco" "preco" "preco";
  grid-template-rows: 400px;
  border-radius: 5px;
  border: 1px solid rgb(218, 218, 218);
}

.foto_recomendados img {
  max-width: 210px;
  max-height: 210px;
  border-radius: 5px;
  grid-area: foto;
}

.nome_recomendados a {
  margin: 0 auto;
  font-size: 20px;
  text-decoration: none;
  color: black;
  grid-area: nome;
  position: relative;
}

.nome_recomendados {
  place-items: center;
}

.preco_recomendados {
  place-items: center;
  margin: 5px;
  font-size: 20px;
  grid-area: preco;
  position: relative;
  text-align: left;
}

/* ---------------------------- CARRINHO ---------------------------- */

.cart {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-family: var(--font);
  background-color: gray;
  border-radius: 10px;
}

.grid_cart {
  display: grid;
  place-items: left;
  grid-template-areas:
    "foto nome"
    "foto preco"
    "divline divline";
  margin: 50px 50px 10px 10px;
  width: 45vw;
}

.foto_produto_cart {
  grid-area: foto;
  min-width: 300px;
  padding: 20px;
  text-align: center;
}

.foto_produto_cart img{
  max-width: 210px;
  max-height: 210px;
  border-radius: 3px;
}

.nome_produto_cart {
  font-size: 20px;
  color: black;
  grid-area: nome;
  width: 400px;
  padding-top: 25px;
}

.preco_produto_cart {
  font-size: 20px;
  grid-area: preco;
  position: relative;
  width: 400px;
  padding-top: 25px;
}

hr.solid {
  border-top: 1px solid #bbb;
  width: 105%;
  grid-area: divline;
}

#subtotal_cart {
  width: 45vw;
  height: 5vh;
  font-size: 20px;
}

#block-erro{
  height: 200px;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.txt-erro{
  font-family: var(--font);
}

.barra{
  opacity: 1;
  height: 10px;
  width: 40px;
  background-color: red;
}

#direita{
  animation: direita 1000ms;
  animation-fill-mode: both;
  position: absolute;
  bottom: 35%;
  left: 100%;
}

#esquerda{
  animation: esquerda 1000ms;
  animation-fill-mode: both;
  position: absolute;
  left: 0;
  bottom: 35%;
}

@keyframes direita{
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
    left: 43%;
    transform: rotate(45deg);
  }
}

@keyframes esquerda {
  0%{
    opacity: 0;
    left: 0;
  }

  100%{
    opacity: 1;
    left: 43%;
    transform: rotate(-45deg);
  }
}

/* ---------------------------- FOOTER ---------------------------- */

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  background: #3d3d3d;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 7vh;
}

footer p {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: white;
}

.footerBar {
  list-style: none;
  display: flex;
  text-align: center;
}

.footerBar li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.footerBar li img {
  max-width: 40px;
  max-height: 30px;
}

.referenciaIcon {
  font-size: 8;
}
