@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root{
    --font: "Ubuntu", sans-serif;
    --preto: #1a1a1a;
}

* {
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255)
}

a:hover {
    opacity: 0.7;
}

/* BARRA DE NAVEGAÇÃO PRINCIPAL */

#mainNav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--font);
    background: #000000;
    height: 10vh;
}

/* BARRA DE NAVEGAÇÃO DE APOIO */

#subNav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--font);
    background: #1a1a1a;
    height: 8vh;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.navBar {
    list-style: none;
    display: flex;
}

.navBar li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.subNavBar {
    list-style: none;
    display: flex;
}

.subNavBar li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.profilePic {
    max-height: 30px;
    max-width: 40px;
}

#searchBar {
    display: inline-flex;
}

/* DROPDOWN */

.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    list-style: none;
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 10px;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown:hover .dropbtn {
    background-color: #1d3557;
}



/* CONTENT */

body {
    background-color: #fff;
}

/* MAIS VISITADOS */

.catalogo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-family: var(--font);
}
  
.grid_produto {
    display: grid;
    place-items: center;
    height: 55vh;
    width: 25vw;
    padding: 20px;
    margin: 5px;
    grid-template-areas: "foto" "foto" "foto" "foto"
                         "nome" "nome" "nome" "nome"
                         "preco" "preco" "preco" "preco";
    border: 1px solid rgb(218, 218, 218);
    border-radius: 5px;
}
  
.foto_produto img{
    max-width: 210px;
    max-height: 210px;
    border-radius: 5px;
    grid-area: foto;
}
  
.nome_produto a {
    margin: 0 auto;
    font-size: 20px;
    text-decoration: none;
    color: black;
    grid-area: nome;
    position: relative;
}

.preco_produto {
    font-size: 20px;
    grid-area: preco;
    position: relative;
    text-align: left;
}

/* PRODUTO DETALHES */

.container_detalhes {
    display: flex;
    font-family: var(--font);
    align-items: center;
    justify-content: center;
}
  
.grid_produto_detalhe {
    display: grid;
    place-items: center;
    margin-top: 20px;
    height: 100%;
    grid-template-areas: "foto desc info";
}
 
.foto_detalhe {
    width: 15vw;
    height: 300px;
    grid-area: foto;
}

.foto_detalhe img {
    margin-right: 20px;
    margin-left: 20px;
}

.descricao_detalhe {
    width: 40vw;
    height: 100%;
    grid-area: desc;
    place-items: center;
    padding: 10px;
}

.descricao_detalhe p {
    padding: 3px;
    font-size: 20;
}

.descricao_detalhe #preco_detalhe {
    align-items: center;
    justify-content: center;
    place-items: center;
    padding: 20px;
    font-size: 20px;
}
  
.cart_detalhe {
    width: 15vw;
    height: 100%;
    border: 2px solid rgb(218, 218, 218);
    padding: 5px;
    border-radius: 10px;
    grid-area: info;
    text-align: center;
}

.cart_detalhe #preco_detalhe {
    font-size: 25px;
}

.cart_detalhe button {
    background: #ffe600;
    border-color: #ffe600;
    text-shadow: none;
    border-radius: 20px;
    width: 10vw;
    height: 50px;
    margin-left: 5%;
    margin-top: 95%;
    text-transform: uppercase;
}

.cart_detalhe button:hover {
    background: #b8a606;
    border-color: #b8a606;
    text-shadow: none;
    border-radius: 20px;
    width: 10vw;
    height: 50px;
    margin-left: 5%;
    margin-top: 95%;
    text-transform: uppercase;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    background: #1a1a1a;
    position: fixed;
    bottom: 0;
    width: 100%;
    height:7vh;
}

footer p {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: white;
}

.footerBar {
    list-style: none;
    display: flex;
    text-align: center;
}

.footerBar li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.footerBar li img {
    max-width: 40px;
    max-height: 30px;
}

.referenciaIcon {
    font-size: 8;
}
