body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(120deg, #000000, #880000);
    height: 100vh;
    overflow: hidden;
}

.logo {
    text-align: center;
    z-index: 2;
}

.centro {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 51.6vh;
    height: 37vh;
    background: #fff;
    border-radius: 10px;
}

.centro h1 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.centro form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .txt_field {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.txt_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.txt_field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.txt_field span::before{
    content: "";
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #880000;
    transition: .5s;
}

.txt_field input:focus ~ label, 
.txt_field input:valid ~ label {
    top: -5px;
    color: #880000;
}

.txt_field input:focus ~ span::before, 
.txt_field input:valid ~ span::before {
    width: 100%;
}

button[type="submit"] {
    width: 100%;
    height: 50px;
    border: 1px solid #be1818;
    background: #be1818;
    border-radius: 25px;
    font-size: 18px;
    color: black;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

button[type="submit"]:hover {
    border-color: #880000;
    transition: .5s;
}

.signup_link {
    padding-top: 1.5vh;
    text-align: center;
    font-size: 16px;
    color: #666666;
}

.signup_link a{
    color: #be1818;
    text-decoration: none;
}

.signup_link a:hover {
    text-decoration: underline;
}
