*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}
.wrapper {
    padding: 0;
}
nav {
    margin: 0 auto;
    background: #FFFFFF;
    display: flex;
    height: 70px;
    margin-left: 45%;
}

nav .logo a{
    font-size: 30px;
    font-weight: 600;
    color: black;
    justify-content: center;
    align-items: center;
}