h3 {
    padding-bottom: 50px;
}

.formulario {
    text-align: center;
}

label {
    padding-top: 15px;
    padding-bottom: 5px;
}

.seta img {
    position: absolute;
    height: 5vh;
    margin-top: 3vh;
    margin-left: 3vh;
    transition: 0.3s;
    z-index: 1;
}

.seta img:hover {
    height: 6vh;
    transition: 0.3s;
}

.container {
    padding-top: 20vh;
}