/* ---------------------------- CARROSSEL ---------------------------- */

#aaa {
    max-width: 80%;
    height: 100%;
    text-transform: uppercase;
    background-color: black;
    color: white;
    border-radius: 5px;
    margin: 0 auto;
    padding: 1vh;
    text-align: center;
    margin-bottom: 10px;
}

#carrossel-container {
    max-width: 80%;
    margin: 0 auto;
}

.buttons {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}
.buttons a{
    color: black;
}

button.glider-dot.active {
    background-color: grey;
}

article #carrossel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.cards {
    display: grid;
    place-items: center;
    grid-template-areas: 'foto'
                         'nome';
}
.cards p{
    text-transform: uppercase;
    color: black;
    grid-area: nome;
}
.cards img {
    border-radius: 5px;
    grid-area: foto;
}