@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

:root {
  --font: "Ubuntu", sans-serif;
  --preto: #1a1a1a;
}

/* ---------------------------- PRODUTOS ---------------------------- */

.catalogo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-family: var(--font);
}

.grid_produto {
  background: #FFFFFF;
  /* box-shadow:  3px 3px 3px 3px #FFFFFF; */
  display: grid;
  place-items: center;
  height: 400px;
  width: 25vw;
  padding: 20px;
  margin: 5px;
  grid-template-areas:
    "foto" "foto" "foto" "foto"
    "nome" "nome" "nome" "nome"
    "preco" "preco" "preco" "preco";
  border: 1px solid rgb(218, 218, 218);
  border-radius: 5px;
}

.foto_produto img {
  max-width: 210px;
  max-height: 210px;
  border-radius: 5px;
  grid-area: foto;
}

.nome_produto a {
  margin: 0 auto;
  font-size: 18px;
  text-decoration: none;
  color: black;
  grid-area: nome;
  /* position: relative; */
  margin-bottom: 30px;
  text-align: center;
}

.nome_produto:hover a{
  color: rgb(153, 151, 151);
}

.preco_produto {
  font-size: 20px;
  grid-area: preco;
  position: relative;
  text-align: left;
}

/* ---------------------------- PRODUTOS DETALHES ---------------------------- */

.container_detalhes {
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font);
}

.grid_produto_detalhe {
  display: grid;
  place-items: center;
  margin-top: 20px;
  height: 100%;
  grid-template-areas: "foto desc info";
}

.foto_detalhe {
  width: 20vw;
  height: 250px;
  grid-area: foto;
}

.foto_detalhe img {
  padding: 30px;
  max-width: 210px;
  max-width: 210px;
  max-height: 210px;
}

.descricao_detalhe {
  width: 40vw;
  height: 100%;
  grid-area: desc;
  place-items: center;
  padding: 10px;
}

.descricao_detalhe p {
  padding: 3px;
  font-size: 20;
}

.descricao_detalhe #preco_detalhe {
  align-items: center;
  justify-content: center;
  place-items: center;
  padding: 20px;
  font-size: 20px;
}

.cart_detalhe {
  width: 15vw;
  height: 100%;
  border: 2px solid rgb(218, 218, 218);
  padding: 5px;
  border-radius: 10px;
  grid-area: info;
  text-align: center;
}

.cart_detalhe #preco_detalhe {
  font-size: 25px;
}

.cart_detalhe button {
  background: #ffe600;
  border-color: #ffe600;
  text-shadow: none;
  border-radius: 20px;
  width: 10vw;
  height: 50px;
  margin-left: 5%;
  margin-top: 95%;
  text-transform: uppercase;
}

.cart_detalhe button:hover {
  background: #b8a606;
  border-color: #b8a606;
  text-shadow: none;
  border-radius: 20px;
  width: 10vw;
  height: 50px;
  margin-left: 5%;
  margin-top: 95%;
  text-transform: uppercase;
}

/* ---------------------------- RECOMENDADOS ---------------------------- */

#detalhes_recomendados {
  margin: 0 auto;
  width: 85%;
  border-radius: 5px;
  height: 5vh;
  margin-top: 5vh;
  background-color: #1a1a1a;
  color: #fff;
  padding: 1vh;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

.recomendados {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font);
}

.grid_recomendados {
  display: grid;
  place-items: center;
  width: 25vw;
  height: 80vh;
  padding: 10px;
  margin: 5px;
  grid-template-areas:
    "foto" "foto" "foto"
    "nome" "nome" "nome"
    "preco" "preco" "preco";
  grid-template-rows: 400px;
  border-radius: 5px;
  border: 1px solid rgb(218, 218, 218);
}

.foto_recomendados img {
  max-width: 210px;
  max-height: 210px;
  border-radius: 5px;
  grid-area: foto;
}

.nome_recomendados a {
  margin: 0 auto;
  font-size: 20px;
  text-decoration: none;
  color: black;
  grid-area: nome;
  position: relative;
}

.nome_recomendados {
  place-items: center;
}

.preco_recomendados {
  place-items: center;
  margin: 5px;
  font-size: 20px;
  grid-area: preco;
  position: relative;
  text-align: left;
}