@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vh;
    background-color: black;
    font-family: 'PT Sans';
}

#content{
    position: absolute;
    display: flex;
    flex-flow: column;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    height: 50vh;
    box-shadow: 7px 5px 15px white;
    border-radius: 10px;
    text-align: center;
    background-color: white;
}

#title{
    letter-spacing: 2px;
    border-bottom: 2px solid black;
    width: 12vw;
    padding-bottom: 5px;
    font-size: 26px;
}

.control-group{
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.control-label{
    padding-top: 10px;
}

.textinput{
    border-top: none;
    border-left: none;
    border-right: none;
}