@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--azul);
}

:root{
    --font: "Ubuntu", sans-serif;
    --azul: rgb(56, 56, 255);
}

#content{
    position: absolute;
    display: grid;
    grid-template-areas:
    "title" 
    "form"
    "btn";
    place-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 300px;
    box-shadow: 5px 5px 10px black;
    background-color: white;
    border-radius: 15px;
}

#title{
    font-family: var(--font);
    font-size: 20px;
    grid-area: title;
}

#form-cadastro{
    display: flex;
    width: 400px;
    flex-wrap: wrap;
    margin: 0;
    align-items: center;
    justify-content: center;
    grid-area: form;
}

.control-group{
    font-family: var(--font);
    flex-basis: 50%;
    margin: auto;
    margin-bottom: 10px;
}

.control-group .controls{
    text-align: center;
}

.control-group label{
    margin-left: 12px;
}

#btn{
    font-family: var(--font);
    font-size: 16px;
    grid-area: btn;
    width: 200px;
    background-color: rgb(63, 238, 63);
    border-radius: 5px;
    border: 1px solid black;
    transition: 0.2s;
}

#btn:hover{
    width: 220px;
    transition: 0.2s;
}
