:root {
    --corPrimaria: #37a4ac;
    --corSecundaria: #80e8f0;
    --corBackground: #FFFFFF;
    --corFont: black;
  }

/* ---------------------------- CARROSSEL ---------------------------- */

#aaa {
    max-width: 80%;
    height: 100%;
    text-transform: uppercase;
    background-color: var(--corPrimaria);
    color: white;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 1vh;
    text-align: center;
    margin-bottom: 10px;
}

#carrossel-container {
    max-width: 80%;
    margin: 0 auto;
    margin-top: 3vh;
}

.buttons {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}
.buttons a{
    color: var(--corPrimaria);
}

button.glider-dot.active {
    background-color: var(--corSecundaria);
}

article #carrossel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
}
.cards {
    display: grid;
    width: 45vw;
    place-items: center;
    grid-template-areas: 'foto'
                         'nome';
}
.cards p{
    text-transform: uppercase;
    color: black;
    grid-area: nome;
}
.cards img {
    width: 300px;
    height: 225px;
    border-radius: 5px;
    grid-area: foto;
    z-index: 1;
}

