{% load crispy_forms_tags %}
{% load static %}

{% block navbar %}

<link rel="stylesheet" href="{% static 'css/style-nav.css' %}">

<div class="wrapper">

  <nav>
      <input type="checkbox" id="show-search">
      <input type="checkbox" id="show-menu">
      <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
      <div class="content">
      <div class="logo"><a href="{% url 'home' %}">SySales</a></div>
        <ul class="links">
          <li>
            {% if user.is_authenticated %}
            <li>
                <a href="#" class="desktop-link">Olá, {{user.nome_usuario}}!</a>
                <input type="checkbox" id="show-features">
                <label for="show-features">Olá, {{user.nome_usuario}}!</label>
                <ul>
                  <li><a href="{% url 'users:retorna_perfil' %}">Meu perfil</a></li>
                  <li><a href="{% url 'users:cadastrar_endereco' %}">Cadastre um Endereço</a></li>
                  {% if user.is_superuser %}
                        <li><a href="/admin">Cadastrar produtos</a></li>
                    {% endif %}
                  <li><a href="{% url 'logout' %}">Sair</a></li>
                </ul>
              </li>
            {% else %}
              <li>
                  <a href="{% url 'login' %}">Faça Login</a>
              </li>
              <li>
                  <a href="{% url 'users:cadastrar' %}">Cadastre-se</a>    
              </li>
            {% endif %}
            <li><a href="https://github.com/FarinhaProgrammer/G2-E-Commerce#readme">Quem somos</a></li>
            <li><a href="{% url 'carrinho:retrieve' %}">Carrinho<!--<i class="fas fa-shopping-cart fa-lg"></i>--></a></li>
          <li>
            <a href="#" class="desktop-link">Destaques</a>
            <input type="checkbox" id="show-features1">
            <label for="show-features1">Destaques</label>
            <ul>
              <li><a href="{% url 'produtos:maisVendidos' %}">Mais Vendidos</a></li>
              <li><a href="{% url 'produtos:maisVistos' %}">Mais Visitados</a></li>
              <li><a href="{% url 'produtos:lancamentos' %}">Lançamentos</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <label for="show-search" class="search-icon"><i class="fas fa-search"></i></label>
      <form method="POST" class="search-box">
        {% csrf_token %}
        {{form}}
        <button type="submit" class="go-icon"><i class="fas fa-long-arrow-alt-right"></i></button>
      </form>
  </nav>

</div>  


  <script src="{% static 'js/nav-bar.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>

{% endblock %}
