{% extends 'pedidos/index-pedidos.html' %}

{% load static %}

{% block title %}Confirmação de pagamento{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/style-confirmacao.css' %}">

{% if msg %}

<section class="section-confirm">

    <h1>Perfeito!</h1>
    <p>Seu pagamento foi recebido e seu pedido está a caminho!</p> 
    <p>Obrigado por comprar conosco!</p>
    <div class="anim">
        <div class="div-ok">
            <img src="{% static 'img/ok.png' %}" alt="Ok" class="ok">
        </div>
    </div>

</section>

{% else %}

<section class="section-confirm">

    <h1>Ainda não...</h1>
    <p>Seu pagamento ainda não foi recebido.</p> 
    <p>Após efetuar o pagamento, reinicie esta página.</p>
    <p>Assim que for detectado, seu pedido será encaminhado!</p>
    <div class="anim">
        <div class="circle" id="first"></div>
        <div class="circle" id="middle"></div>
        <div class="circle" id="last"></div>
    </div>

</section>

{% endif %}

{% endblock %}