{% extends 'pedidos/index-pedidos.html' %}

{% load static %}
   
{% block content %}

<link rel="stylesheet" href="{% static 'css/checkout.css' %}">

<section>
    <div class="wrapper">
        
        <div class="checkout">
   
            <div class="titulo">
                <span class="fas fa-home"></span>
                <h1>Endereços</h1>
            </div><!--/titulo-->

            <p class="novo-endereco">Meus Endereços</p>

            {% if dados %}

            {% for endereco in dados %}

            <div class="meus-enderecos">

                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td class="dados">
                        <table>
                        <tr>
                            <td align="right"><b>Nome do Endereço:</b></td>
                            <br><td>{{endereco.nome}}</td>
                        </tr>
                        <tr>
                        <tr>
                            <td align="right"><b>Destinatario:</b></td>
                            <td>{{endereco.usuario}}</td>
                        </tr>
                        <tr>
                            <td align="right"><b>Endereço:</b></td>
                            <td>{{endereco.rua}}, {{endereco.numero}}</td>
                        </tr>
                        <tr>
                            <td align="right"><b>Bairro:</b></td>
                            <td>{{endereco.bairro}}</td>
                        </tr>
                        <tr>
                            <td align="right"><b>CEP:</b></td>
                            <td>{{endereco.cep}}</td>
                        </tr>
                        <tr>
                            <td align="right"><b>Cidade:</b></td>
                            <td>{{endereco.cidade}} - {{endereco.estado}} - {{endereco.pais}}</td>
                        </tr>
                        <tr>
                            <td align="right"><b>Referência:</b></td>
                            <td>{{endereco.referencia}}</td>
                        </tr>
                        </table>
                    </td>
                  </tr>
                </table>
                
                <a href="{% url 'users:remover_endereco' pk=endereco.id %}?next=/pedidos/endereco/" class="endereco-btn">Excluir</a>
                <a href="{% url 'pedidos:continua-pedido' %}?id={{endereco.id}}" class="endereco-btn">Selecionar endereço</a>
                  
            </div><!--/meus-enderecos-->
            <br>  

            {% endfor %}

            {% else %}

                <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
                
                    <tr>
                        <td align="right"><b>Você não tem nenhum endereço cadastrado.</b></td>
                    </tr>

                </table>

            {% endif %}

            <div class="novo-endereco">

              <h2>Incluir um novo endereço</h2>

               <a href="{% url 'users:cadastrar_endereco' %}?next=/pedidos/endereco/" class="endereco-btn" id="incluir">Incluir Endereço</a>
            
            </div><!--/novo-endereco-->
          
            
            

    </div><!--/checkout-->
        
        
     </div><!--/wrapper-->
</section>

{% endblock %}