@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

:root {
  --font: "Ubuntu", sans-serif;
  --preto: #1a1a1a;
}

* {
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

a:hover {
  opacity: 0.7;
}

body {
  background-color: #FFFFFF;
  overflow-x: hidden;
}

.barras{
  margin-top: 50px;
  position: relative;
}

#block-erro {
  height: 200px;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.txt-erro {
  font-family: var(--font);
}

.barra {
  opacity: 1;
  height: 10px;
  width: 40px;
  background-color: red;
}

#direita {
  animation: direita 1000ms;
  animation-fill-mode: both;
  position: absolute;
  bottom: 35%;
  left: 100%;
}

#esquerda {
  animation: esquerda 1000ms;
  animation-fill-mode: both;
  position: absolute;
  left: 0;
  bottom: 35%;
}

@keyframes direita {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
      left: 43%;
      transform: rotate(45deg);
  }
}

@keyframes esquerda {
  0% {
      opacity: 0;
      left: 0;
  }

  100% {
      opacity: 1;
      left: 43%;
      transform: rotate(-45deg);
  }
}

#container {
  position: absolute;
  margin: 0 auto;
}