{% load static %}

{% block footer %}

<link rel="stylesheet" href="{% static 'css/style-footer-home.css' %}">

    <h3>SySales</h3>
    <p>O lugar perfeito para o seu E-commerce</p>
    <ul class="socials">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
    </ul>
    <div class="footer-bottom">
        <p>copyright &copy;2021 SySales.</p>
    </div>


{% endblock %}